/* ==========================================================
   RESET
========================================================== */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ==========================================================
   HTML / BODY
========================================================== */

html,
body{
    width:100%;
    min-height:100%;
    overflow-x:hidden;

    background:#f4f7fb;
    font-family:"Poppins",sans-serif;
    color:#153b53;
}

/* ==========================================================
   ROOT
========================================================== */

#root{
    width:100%;
    min-height:100vh;
}

/* ==========================================================
   APP
========================================================== */

.App{
    width:100%;
    min-height:100vh;
    background:#f4f7fb;
}